[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
jinja2 = "*"
requests = "*"
pkl-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
